<div class="blog-post">
    {% load i18n %}
    <span class="post-edition">{{ post.pub_date | date:"d F Y" }}</span>
    <h1 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
    <p>
        <span class="post-category">{% trans 'Category:' %}
            <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>.
        </span>
        <span class="post-tag">{% trans 'Tags:' %}
            {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
            {% endfor %}
        </span>
    </p>
    {% block post_content %}
    {% endblock %}
</div>