<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %} {% trans "Juan Wolf's blog" %}</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'stylesheets/stylesheet.css' %}" />
    {% block head_block %} {% endblock %}
</head>

<body>
<header>
    <nav id="blog-nav">
        <a id="brand" href="http://juanwolf.fr">juanwolf.fr</a>
        <ul id="menu-link-list" class="nav nav-pills nav-stacked">
            {% include "blogengine/category_list.html" %}
            <li id="language-selection-item">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden"
                           {% block language-redirection %}{% endblock %}/>
                    <select name="language" id="language-select-blog">
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}"
                            {% if LANGUAGE_CODE == lang.0  %}
                                selected="selected"
                            {% endif %}
                        >{{ lang.1 }}</option>
                    {% endfor %}
                    </select>

                </form>
            </li>
        </ul>
        <a id="menu-button">
            <i class="fa fa-bars fa-2x"></i>
        </a>
    </nav>
</header>

<div id="blog-container" class="container">
    {% block content %} {% endblock %}
</div>


<footer id="blog-footer">
    <div id="footer-section">
        <ul id="footer-sections">
            <li><a href="http://about.juanwolf.fr">{% trans 'About' %}</a></li>
            <li><a href="mailto:contact@juanwolf.fr">Contact</a></li>
        </ul>

        <ul id="footer-social-network">
            <li>
                <a href='https://twitter.com/juan__wolf' class="fa fa-twitter fa-2x"></a>
            </li>
            <li>
                <a href="https://plus.google.com/101870222559537773141/" class="fa fa-google-plus fa-2x"></a>
            </li>
            <li>
                <a href="https://github.com/juanwolf" class="fa fa-github fa-2x"></a>
            </li>
            <li>
                <a href="https://bitbucket.com/juanwolf" class="fa fa-bitbucket fa-2x"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/profile/view?id=218328783" class="fa fa-linkedin-square fa-2x"></a>
            </li>
        </ul>
        <p id="copyright">
            <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC 4.0 BY-SA</a>
            - Jean-Loup Adde 2014-{% now "Y" %}
        </p>
    </div>
    <script src="{% static 'js/lib/JQuery1.11.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.juanwolf.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="http://stats.juanwolf.fr/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</footer>
</body>
</html>
