{% extends "blogengine/includes/base_post.html" %}

{% block post_content %}
    <div class="post-content">
        <p>{{ post.get_introduction }}</p>
        {% if post.image %}
        <img src="{{  MEDIA_URL }}{{ post.image.name }}" />
        {% endif %}
        {{ post.get_text_content | safe }}
    </div>
    <div id="share-buttons">
        <p>
            {% load i18n %}
            {% trans 'Share this post on:' %}
        </p>
        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u={{current_path}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <a href="http://twitter.com/share?url={{current_path}}&via=juan__wolf&text='{{post.title}}'" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url={{current_path}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
        <!-- Digg -->
        <a href="http://www.digg.com/submit?url={{current_path}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" /></a>
        <!-- Reddit -->
        <a href="http://reddit.com/submit?url={{current_path}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>
        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{current_path}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'juanwolfsblog'; // required: replace example with your forum shortname
        var disqus_identifier = '{{ post.get_absolute_url }}' // Define to identify the current page
        var disqus_config = function () {
            this.language = "{{ LANGUAGE_CODE }}";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% load i18n %}
    <noscript>{% trans 'Please enable JavaScript to view the '%} <a href="http://disqus.com/?ref_noscript">{% trans 'comments powered by Disqus.' %}</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">{% trans 'comments powered by' %} <span class="logo-disqus">Disqus</span></a>
    {% if has_previous_post %}
    <a id="previous-article" href="{{previous_post.get_absolute_url}}">
        &lsaquo;&lsaquo; {% trans 'Previous post' %}:
        {{previous_post.title}}
    </a>
    {% endif %}
    {% if has_next_post %}
    <a id="next-article" href="{{next_post.get_absolute_url}}">
        {% trans 'Next post' %}:
        {{next_post.title}} &rsaquo;&rsaquo;
    </a>
    {% endif %}
{% endblock %}