{% extends "blogengine/includes/base.html" %}
    {% block content %}
        {% load i18n %}
        {% for post in post_list %}
        {% include 'blogengine/post_preview_template.html'  %}
        {% empty %}
            <p> {% trans "There's no post for the moment" %}  =(
                {% trans "All our engineers are working on it. We'll fix this problem soon." %}
            </p>
        {% endfor %}
        <nav class="pagination">
        {% if page_obj.has_previous %}
            <a id="previous-page" href="/{{ page_obj.previous_page_number }}/">
                &lsaquo; {% trans 'Newer posts' %}
            </a>
        {% endif %}
        {% if page_obj.has_next %}
            <a id="next-page" href="/{{ page_obj.next_page_number }}/">
                {% trans 'Older posts' %} &rsaquo;
            </a>
        {% endif %}
        </nav>
    {% endblock %}