{% extends "blogengine/includes/base.html" %}
{% load i18n %}
{% if post.keywords %}
    {% block head_block %}
        {% if LANGUAGE_CODE == "fr" %}
        <meta name="description" content="{{ post.get_introduction }}">
        {% if post.keywords %}
        <meta name="keywords" content="{{ post.keywords  }}" />
        {% endif %}
        <meta name="author" content="Jean-Loup Adde"/>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@juan__wolf" />
        <meta name="twitter:creator" content="@juan__wolf" />
        <meta name="twitter:title" content="{{ post.title }} - blog.juanwolf.fr" />
        <meta name="twitter:description" content="{{ post.get_introduction }}" />
        {% if post.image %}
        <meta name="twitter:image" content="{{ post.get_absolute_image_url }}" />
        {% endif %}
        <meta name="twitter:url" content="{{ current_path }}" />
        <meta name="og:url" content="{{ current_path }}" />
        <meta name="og:title" content="{{ post.title }} - blog.juanwolf.fr"/>
            {% if post.image %}
        <meta name="og:image" content="{{ post.get_absolute_image_url }}"/>
                {% endif %}
        <meta name="og:description" content="{{ post.get_introduction }}" />
        <meta name="og:locale" content="fr_FR">
        <meta name="og:author" content="Jean-Loup Adde" />
        <meta name="og:type" content="article" />
        {% else %}
        <meta name="description" content="{{ post.get_introduction }}">
        {% if post.keywords %}
        <meta name="keywords" content="{{ post.keywords  }}" />
        {% endif %}
        <meta name="author" content="Jean-Loup Adde"/>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@juan__wolf" />
        <meta name="twitter:creator" content="@juan__wolf" />
        <meta name="twitter:title" content="{{ post.title }} - blog.juanwolf.fr" />
        <meta name="twitter:description" content="{{ post.get_introduction }}" />
        {% if post.image %}
        <meta name="twitter:image" content="{{ post.get_absolute_image_url }}" />
        {% endif %}
        <meta name="twitter:url" content="{{ current_path }}" />
        <meta name="og:url" content="{{ current_path }}" />
        <meta name="og:title" content="{{ post.title }} - blog.juanwolf.fr"/>
        {% if post.image %}
        <meta name="og:image" content="{{ post.get_absolute_image_url }}"/>
        {% endif %}
        <meta name="og:description" content="{{ post.get_introduction }}" />
        <meta name="og:locale" content="en_GB">
        <meta name="og:author" content="Jean-Loup Adde" />
        <meta name="og:type" content="article" />
        {% endif %}
    {% endblock %}
{% endif %}


{% block title %} {{ post.title }} -  {% endblock %}
{% block language-redirection %}
    {% if LANGUAGE_CODE == "en" %}
        {% language 'fr' %}
        value={{ post.get_absolute_url }}
        {% endlanguage %}
    {% else %}
        {% language 'en' %}
        value={{ post.get_absolute_url }}
        {%  endlanguage %}
    {% endif %}
{% endblock %}

{% block content %}
    {% include "blogengine/includes/post_template.html" %}
{% endblock %}